<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TwitchTrack3r</display-name>
	<servlet>
		<servlet-name>StreamerServlet</servlet-name>
		<servlet-class>com.twitchtrack3r.web.StreamerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.twitchtrack3r.web.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StreamerServlet</servlet-name>
		<url-pattern>/twitchtrack3r/streamer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/twitchtrack3r/user</url-pattern>
	</servlet-mapping>
</web-app>